selectolax
beautifulsoup4
nest_asyncio
httpx
fastapi
uvicorn 
motor 
pydantic[dotenv]
numpy
transformers
sentence_transformers
pandas
python-dotenv
sqlalchemy 
alembic 
openai==0.28
langchain
langchain-openai
nest_asyncio